<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts Us</title>
    <link rel="icon" type="image/x-icon" href="../static/images/IpCalculator.png">
    <link rel="stylesheet" href="../static/styles_css/main.css">
  </head>
  <body class="page">
    <script type="text/javascript" src="scripts/main.js"></script>
    <header class="header" id="Home">
      <div class="header__top">
        <h1>{{ data.message }}</h1> <!-- ПРИКЛАД  -->
        <div class="logo">
          <a href = "/" class="header__top--logo">
            <img src="../static/images/IpCalculator.png" width="80" height="80" style="border-radius: 20%;margin-top: -15px; ">
          </a>
          <a href="#menu" class="icon" ></a>
        </div>
        <nav class="nav">

          <ul class="nav__list">
            <li class="nav__item">
              <a class="nav__link" href="#WhoWeAre">Home</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#SERVICES">Ip_Calculator</a>
            </li>

            <li class="nav__item">
              <a class="nav__link" href="#Contacts">Other</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="main">
      <section class="who-we-are" id="WhoWeAre">
        <h2 class="who-we-are__title">Contacts us</h2>
        <div class="who-we-are__container">
          <p class="who-we-are__desc"><br>


The IP Calculator is a convenient tool for calculating IP address and subnet parameters.<br><br>


<ins>Functionality:</ins><br>
To use the IP Calculator, enter the required data in the corresponding fields and click the "Calculate" button. The results will be displayed on the screen.<br><br>

<ins>Instructions:</ins><br>
We do not collect personally identifiable information or share user information with third parties.<br><br>


<ins>Feedback and Support::</ins><br>
If you have any questions, suggestions, or issues with our IP Calculator, please contact us through the feedback form or using the provided contact details.<br><br>


<ins>Changes to our Privacy Policy:</ins><br>
We reserve the right to make changes to this Privacy Policy. Any changes will be posted on this page.<br><br>


<ins>Contact Us:</ins><br>
If you have any questions or comments about our Privacy Policy, please contact us at [ipcalculator160224@gmail.com].<br><br><br><br>
          <sub>2024</sub>
        </div>
      </section>
      <section class="calculator" id="Ip_Calculator">
      </section>
    </main>
    <footer class="footer">
      <div class="footer__links">
        <a href = "/" class="foooter--logo">
          <img src="../static/images/IpCalculator.png" alt="Air Logo" width="80" height="80" style="border-radius: 20%;margin-top: -15px; ">
        </a>

        <nav class="nav">
          <ul class="footer-nav__list">
            <li class="footer-nav__item ">
              <a class="footer-nav__link" href="/" style="margin-left: 20px;">FaceBook</a>
            </li>
            <li class="footer-nav__item ">
              <a class="footer-nav__link" href="#OWNERS">Instagram</a>
            </li>
            <li class="footer-nav__item ">
              <a class="footer-nav__link" href="https://t.me/IpCalculator">Telegram</a>
            </li>
            <li class="footer-nav__item ">
              <a class="footer-nav__link" href="https://mail.google.com/mail/u/1/#inbox?compose=GTvVlcSKjsnxVqkLXHqlLvLGNrNwdLBJkpQTWvCqXscQKDschckCqNFCvfbTzRKGmbvdstJBmZsnG">
                E-mail</a>
            </li>
          </ul>
        </nav>
      </div>

    </footer>
  </body>
</html>