<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IpCalculator</title>
    <link rel="icon" type="image/x-icon" href="../static/images/IpCalculator.png">
    <link rel="stylesheet" href="../static/styles_css/main.css">
    <link rel="stylesheet" href="./styles/main.scss">




  </head>
  <body class="page">
    <script type="text/javascript" src="scripts/main.js"></script>
        <header class="header" id="Home">
      <div class="header__top">
        <div class="logo">
          <a href = "#" class="header__top--logo">
            <img src="../static/images/IpCalculator.png" alt="Air Logo" width="80" height="80" style="border-radius: 20%;margin-top: -15px; ">
          </a>
          <a href="#menu" class="icon" ></a>
        </div>
        <nav class="nav">

          <ul class="nav__list">
            <li class="nav__item">
              <a class="nav__link" href="/">Home</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="/WhoWeAre">Who we are</a>
            </li>

            <li class="nav__item">
              <a class="nav__link" href="#Contacts">Other</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="main">
      <section class="who-we-are" id="WhoWeAre">
        <h2 class="who-we-are__title">Ip Calculator</h2>
        <div class="who-we-are__container">
        </div>
      </section>



      <section class="calculator" id="Ip_Calculator">

<button id="subNetworksButton" type="button" class="btn btn-outline-primary me-2" style="border-radius: 12%; margin-left: 20px;"><strong>Hosts</strong></button>
<button id="hostsButton" type="button" class="btn btn-primary" style="border-radius: 12%;"><strong>Sub Networks</strong></button>

        <script>
    document.getElementById('hostsButton').addEventListener('click', function() {
      this.style.backgroundColor = '#343a40'; // Темно-серый цвет фона при нажатии на кнопку
      this.style.borderColor = '#343a40'; // Темно-серый цвет рамки при нажатии на кнопку
      this.style.color = '#fff'; // Белый цвет текста при нажатии на кнопку

      document.getElementById('subNetworksButton').style.backgroundColor = ''; // Сбрасываем цвет фона второй кнопки
      document.getElementById('subNetworksButton').style.borderColor = ''; // Сбрасываем цвет рамки второй кнопки
      document.getElementById('subNetworksButton').style.color = ''; // Сбрасываем цвет текста второй кнопки
    });

    document.getElementById('subNetworksButton').addEventListener('click', function() {
      this.style.backgroundColor = '#343a40'; // Темно-серый цвет фона при нажатии на кнопку
      this.style.borderColor = '#343a40'; // Темно-серый цвет рамки при нажатии на кнопку
      this.style.color = '#fff'; // Белый цвет текста при нажатии на кнопку

      document.getElementById('hostsButton').style.backgroundColor = ''; // Сбрасываем цвет фона первой кнопки
      document.getElementById('hostsButton').style.borderColor = ''; // Сбрасываем цвет рамки первой кнопки
      document.getElementById('hostsButton').style.color = ''; // Сбрасываем цвет текста первой кнопки
    });
</script>

        <h2 class="who-we-are">Choose your IP class</h2>
<td>
  <label for="cclass1" class="cbcontainer">
    <input type="radio" name="cclass" id="cclass1" value="a" onclick="popSubnet('a');">
    <span class="rbmark"></span>A
  </label> &nbsp;
  <label for="cclass2" class="cbcontainer">
    <input type="radio" name="cclass" id="cclass2" value="b" onclick="popSubnet('b');">
    <span class="rbmark"></span>B
  </label> &nbsp;
  <label for="cclass3" class="cbcontainer">
    <input type="radio" name="cclass" id="cclass3" value="c" onclick="popSubnet('c');">
    <span class="rbmark"></span>C
  </label>
</td>

<div style="display: flex;">
<div style="flex: 1;">
<div class="number-input-container">
  <form id="ipForm">
    <label for="numberInput">Enter IP Address:</label>
    <input type="text" id="numberInput" name="ipAddress" placeholder="For example: 192.168.0.0">
    <!-- Update the size of the host input -->
    <label for="hostInput">Enter Number of Hosts/Subnets:</label>
    <input type="number" id="hostInput" name="hostCount" placeholder="For example: 50" min="0" style="width: 150;" pattern="[0-9]*">
    <button type="button" onclick="processNumber()" style="width: 50;">Process</button>

    <!--<img src="../static/images/NumberIpClass.png" width="540" height="170" style="border-radius: 15%;margin-top: -100px; margin-left: 100px;">-->
  </form>
</div>
</div>
<div style="flex: 1;">
<div style="display: flex; align-items: center; flex-direction: column; justify-content: flex-end;">
  <img id="imageIpClass" src="../static/images/IpClass.png" alt="IpClass Image" width="540" height="170" style="border-radius: 15%;margin-top: -100px; margin-left: 100px;">
     <br><br><br><br>
  <img id="imageNumberIpClass" src="../static/images/NumberIpClass.png" alt="NumberIpClass Image" width="540" height="170" style="border-radius: 15%;margin-top: -100px; margin-left: 100px;">
</div>
</div>
</div>
<div class="number-input-container"><label id="resultLabel"></label><br><br><br></div>

<script>
  function setDefaultButton() {
    document.getElementById('subNetworksButton').click();
  }

  // Call the function when the page is loaded
  window.addEventListener('load', setDefaultButton);


document.getElementById('hostsButton').addEventListener('click', function() {
  this.style.backgroundColor = '#343a40';
  this.style.borderColor = '#343a40';
  this.style.color = '#fff';

  document.getElementById('subNetworksButton').style.backgroundColor = '';
  document.getElementById('subNetworksButton').style.borderColor = '';
  document.getElementById('subNetworksButton').style.color = '';
});

document.getElementById('subNetworksButton').addEventListener('click', function() {
  this.style.backgroundColor = '#343a40';
  this.style.borderColor = '#343a40';
  this.style.color = '#fff';

  document.getElementById('hostsButton').style.backgroundColor = '';
  document.getElementById('hostsButton').style.borderColor = '';
  document.getElementById('hostsButton').style.color = '';
});

function processNumber() {
  var hostsButton = document.getElementById('hostsButton');
  var subNetworksButton = document.getElementById('subNetworksButton');

  if (hostsButton.style.backgroundColor === 'rgb(52, 58, 64)') {
    var formData = new FormData(document.getElementById('ipForm'));
    formData.append('hostCount', document.getElementById('hostInput').value);

    // Установим заголовок 'X-Network-Button-Active' в 'true'
    var headers = new Headers();
    headers.append('X-Network-Button-Active', 'true');

    fetch('/process_ip', {
      method: 'POST',
      body: formData,
      headers: headers
    })
    .then(response => response.json())
    .then(data => {
      document.getElementById('resultLabel').innerText = 'Result: \n' + data.result;
    })
    .catch(error => console.error('Error:', error));
  } else if (subNetworksButton.style.backgroundColor === 'rgb(52, 58, 64)') {
    var formData = new FormData(document.getElementById('ipForm'));
    formData.append('hostCount', document.getElementById('hostInput').value);

    // Установим заголовок 'X-Network-Button-Active' в 'true'
    var headers = new Headers();
    headers.append('X-Networks-Button-Active', 'true');

    fetch('/process_another_ip', { // Используем другой URL или другой метод
      method: 'POST',
      body: formData,
      headers: headers
    })
    .then(response => response.json())
    .then(data => {
      document.getElementById('resultLabel').innerText = 'Result: \n' + data.result;
    })
    .catch(error => console.error('Error:', error));
  } else {
    // Если ни одна из кнопок не активна, установим заголовок 'X-Network-Button-Active' в 'false'
    var headers = new Headers();
    headers.append('X-Network-Button-Active', 'false');

    fetch('/process_ip', {
      method: 'POST',
      headers: headers
    })
    .then(response => response.json())
    .then(data => {
      document.getElementById('resultLabel').innerText = 'Result: \n' + data.result;
    })
    .catch(error => console.error('Error:', error));
  }
}


document.getElementById('numberInput').addEventListener('input', function() {
  var ip = this.value.trim();
  var firstOctet = parseInt(ip.split('.')[0]);

  var classA = document.getElementById('cclass1');
  var classB = document.getElementById('cclass2');
  var classC = document.getElementById('cclass3');

  if (firstOctet >= 1 && firstOctet <= 127) {
    classA.checked = true;
  } else if (firstOctet >= 128 && firstOctet <= 191) {
    classB.checked = true;
  } else if (firstOctet >= 192 && firstOctet <= 223) {
    classC.checked = true;
  } else if (firstOctet >= 224) {
    classA.checked = false;
    classB.checked = false;
    classC.checked = false;
  }
});
</script>


      <section class="who-we-are" id="WhoWeAre1">
        <div class="who-we-are__container">
          <p class="who-we-are__desc">This IP calculator is designed to determine the number of hosts and subnets within a given IP of class A, B, or C.
            The input consists of an IPv4 address represented by four decimal numbers (ranging from 0 to 255), for example: 1st number, dot, 2nd number, dot, 3rd number, dot, 4th number.
            According to the table (<a href="#imageIpClass" onclick="highlightImage('imageIpClass')">N1</a>), we identify the class to which the IP belongs.
            Then, the user provides the number of hosts or subnets to be calculated for that IP. The quantity must be greater than 0 and less than the maximum for that class (<a href="#imageNumberIpClass" onclick="highlightImage('imageNumberIpClass')">N2</a>).
            The result is a table providing information about the 1st, 2nd, 3rd, and last subnet, along with the number of hosts in each subnet - 1st host, last host, and broadcast.</p>
        </div>

        <style>
        .highlighted {
          box-shadow: 0 0 10px rgba(169, 169, 169, 0.5); /* Optional: Add a box shadow for emphasis */
          transition: box-shadow 0.3s ease-in-out;
         }
         .highlighted1 {
            box-shadow: none;
            transition: box-shadow 0.3s ease-in-out;
         }
        </style>
        <script>
            function highlightImage(imageId) {
                // Remove the "highlighted" class from all images
                document.querySelectorAll('img').forEach(img => img.classList.remove('highlighted'));

                // Add the "highlighted" class to the clicked image
                document.getElementById(imageId).classList.add('highlighted');

                // Remove the "highlighted" class after 0.5 seconds
                setTimeout(() => {
                    document.getElementById(imageId).classList.remove('highlighted');
                }, 500);
            }
        </script>

        <p class="who-we-are__desc">Here is where our calculator can be applied:</p>
        <ol  class="who-we-are__desc" style="text-align: left;" >
          <li>Efficient use of address space: Due to limitations in IPv4 standards (32-bit address), dividing the network into subnets and distributing addresses optimally utilizes this constrained resource.</li>
          <li>Traffic management: Subnetting reduces broadcast traffic size, enhancing network efficiency and security by containing traffic within subnets.</li>
          <li>Security: Subnetting mitigates attack risks by confining traffic to subnet areas.</li>
          <li>Easier network management: Working with smaller subnets simplifies network management, facilitating efficient setup, maintenance, and providing isolated areas for internal management.</li>
          <li>Support for different services and user groups: Subnetting aids in allocating specific network parts for particular services or user groups, improving manageability and security.</li>
          <li>Assistance for the computer networks course exam ;)
      <section class="who-we-are" id="WhoWeAre2">
        <div class="who-we-are__container">
          <p class="who-we-are__desc"><br> <sub>2024</sub></p>
        </div>
      </section>
        </ol></p>
      </section>
      </section>
    </main>
    <footer class="footer">
      <div class="footer__links">
        <a href = "#" class="foooter--logo">

          <img src="../static/images/IpCalculator.png" alt="Air Logo" width="80" height="80" style="border-radius: 20%;margin-top: -15px; ">


        </a>

        <nav class="nav">
          <ul class="footer-nav__list">
            <li class="footer-nav__item ">

              <a class="footer-nav__link" href="/" style="margin-left: 70px;">Home</a>

            </li>
            <li class="footer-nav__item ">
              <a class="footer-nav__link" href="#OWNERS">List of Owners</a>
            </li>
            <li class="footer-nav__item ">

              <a class="footer-nav__link" href="/Privacy_Policy">Privacy Policy</a>
            </li>
            <li class="footer-nav__item ">
              <a class="footer-nav__link" href="/Contacts_Us">Contacts us</a>
            </li>
          </ul>
        </nav>
      </div>

    </footer>
  </body>

</html>