<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="./styles/main.scss">
  </head>
  <body class="page">
    <script type="text/javascript" src="scripts/main.js"></script>
    <header class="header" id="Home">
      <div class="header__top">
        <div class="logo">
          <a href = "#" class="header__top--logo">
            <img src="images/Air.svg" alt="Air Logo">
          </a>
          <a href="#menu" class="icon" ></a>
        </div>
        <nav class="nav">

          <ul class="nav__list">
            <li class="nav__item">
              <a class="nav__link" href="#WhoWeAre">Home</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#SERVICES">Ip_Calculator</a>
            </li>

            <li class="nav__item">
              <a class="nav__link" href="#Contacts">Other</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="main">
      <section class="who-we-are" id="WhoWeAre">
        <h2 class="who-we-are__title">Who we are</h2>
        <div class="who-we-are__container">
          <p class="who-we-are__desc">We embrace a strategic approach to creative ideas. We are interested in people and human relationships. This is the main thing you need to know about us. We believe in the power of bold ideas that can solve business challenges.</p>
        </div>
      </section>
      <section class="calculator" id="Ip_Calculator">
        <h2 class="who-we-are">Something</h2>
        <div class="number-input-container">
          <label for="numberInput">Enter a number:</label>
          <input type="number" id="numberInput">
          <button onclick="processNumber()">Process</button>
          <div id="resultContainer"></div>
        </div>
        <div class="result-container">
          <p class="result-text">The result is: <span id="resultValue"></span></p>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="footer__links">
        <a href = "#" class="foooter--logo">
          <img src="images/Air.svg" alt="Air Logo">
        </a>

        <nav class="nav">
          <ul class="footer-nav__list">
            <li class="footer-nav__item ">
              <a class="footer-nav__link" href="#Home">Home</a>
            </li>
            <li class="footer-nav__item ">
              <a class="footer-nav__link" href="#OWNERS">List of Owners</a>
            </li>
            <li class="footer-nav__item ">
              <a class="footer-nav__link" href="#Contacts">Contacts us</a>
            </li>
          </ul>
        </nav>
      </div>

    </footer>
  </body>
</html>
