<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="../static/styles_css/main.css">
  </head>
  <body class="page">
    <script type="text/javascript" src="scripts/main.js"></script>
    <header class="header" id="Home">
      <div class="header__top">
        <h1>{{ data.message }}</h1> <!-- ПРИКЛАД  -->
        <div class="logo">
          <a href = "/" class="header__top--logo">
            <img src="../static/images/IpCalculator.png" width="80" height="80" style="border-radius: 20%;margin-top: -15px; ">
          </a>
          <a href="#menu" class="icon" ></a>
        </div>
        <nav class="nav">

          <ul class="nav__list">
            <li class="nav__item">
              <a class="nav__link" href="/" style="margin-left: -120px;">Home</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#SERVICES" style="margin-left: -60px;">Ip_Calculator</a>
            </li>

            <li class="nav__item">
              <a class="nav__link" href="#Contacts" >Other</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="main">
      <section class="who-we-are" id="WhoWeAre">
        <h2 class="who-we-are__title">Privacy Policy</h2>
        <div class="who-we-are__container">
          <p class="who-we-are__desc">IPCalculator Privacy Policy<br>


By accessing and using the IPCalculator website, you agree to the terms of this Privacy Policy.<br><br>


<ins>Information Collection and Use:</ins><br>
We do not collect any personally identifiable information about users who visit the IPCalculator website. We do not use cookies or other technologies to track users.
<br><br>

<ins>Sharing Information with Third Parties:</ins><br>
We do not collect personally identifiable information or share user information with third parties.<br><br>


<ins>Data Security:</ins><br>
We take reasonable steps to ensure the security of user information, but please note that absolute security on the Internet cannot be guaranteed.<br><br>


<ins>Changes to our Privacy Policy:</ins><br>
We reserve the right to make changes to this Privacy Policy. Any changes will be posted on this page.<br><br>


<ins>Contact Us:</ins><br>
If you have any questions or comments about our Privacy Policy, please contact us at [exemple@gmail.com].<br><br><br><br>
          <sub>2024</sub>
        </div>
      </section>
      <section class="calculator" id="Ip_Calculator">
      </section>
    </main>
    <footer class="footer">
      <div class="footer__links">
        <a href = "/" class="foooter--logo">
          <img src="../static/images/IpCalculator.png" alt="Air Logo" width="80" height="80" style="border-radius: 20%;margin-top: -15px; ">
        </a>

        <nav class="nav">
          <ul class="footer-nav__list">
            <li class="footer-nav__item ">
              <a class="footer-nav__link" href="/" style="margin-left: 20px;">Home</a>
            </li>
            <li class="footer-nav__item ">
              <a class="footer-nav__link" href="#OWNERS">List of Owners</a>
            </li>
            <li class="footer-nav__item ">
              <a class="footer-nav__link" href="/Privacy_Policy">Privacy Policy</a>
            </li>
            <li class="footer-nav__item ">
              <a class="footer-nav__link" href="#Contacts">Contacts us</a>
            </li>
          </ul>
        </nav>
      </div>

    </footer>
  </body>
</html>