<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    <link rel="icon" type="image/x-icon" href="../static/images/IpCalculator.png">
    <link rel="stylesheet" href="../static/styles_css/main.css">
  </head>
  <body class="page">
    <script type="text/javascript" src="scripts/main.js"></script>
    <header class="header" id="Home">
      <div class="header__top">
        <h1>{{ data.message }}</h1> <!-- ПРИКЛАД  -->
        <div class="logo">
          <a href = "/" class="header__top--logo">
            <img src="../static/images/IpCalculator.png" width="80" height="80" style="border-radius: 20%;margin-top: -15px; ">
          </a>
          <a href="#menu" class="icon" ></a>
        </div>
        <nav class="nav">

          <ul class="nav__list">
            <li class="nav__item">
              <a class="nav__link" href="/">Home</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="/Privacy_Policy">Privacy Policy</a>
            </li>

            <li class="nav__item">
              <a class="nav__link" href="/Contacts_Us">Contacts us</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="main">
      <section class="who-we-are" id="WhoWeAre">
        <h2 class="who-we-are__title">Who We Are</h2>
        <div class="who-we-are__container">
          <p class="who-we-are__desc">Welcome to our website!<br>


We are a team of experienced and creative programmers united by a common passion for creating innovative and high-quality projects.
Our team consists of three enthusiasts, each of whom possesses deep knowledge and extensive experience in various areas of information technology.<br><br>



We are committed to constant improvement and refinement of our skills, and therefore we are constantly in the process of learning and mastering new technologies.
Our goal is not just to create projects, but to create projects that inspire and impress.
<br><br>


We specialize in developing complex software solutions for a wide range of tasks, including web development, mobile applications, data analysis, artificial intelligence, and more.
Our team is ready to bring any of your ideas to life, ensuring high quality, reliability, and innovative approaches<br><br>



We take pride in our portfolio of projects and believe that our passion for programming and technology is reflected in every creation of ours.
We strive to ensure that our clients are satisfied with the result and trust us to bring their ideas to life.<br><br>



Working with us is easy and convenient. We are ready to discuss your requirements and offer an individual approach to each project.
We are open to collaboration and new challenges, and always welcome new interesting projects and tasks.<br><br>


<ins>Contact Us:</ins><br>
If you have any proposals for cooperation, please write to us on e-mail [ipcalculator160224@gmail.com].<br><br><br><br>
          <sub>2024</sub>
        </div>
      </section>
      <section class="calculator" id="Ip_Calculator">
      </section>
    </main>
    <footer class="footer">
      <div class="footer__links">
        <a href = "/" class="foooter--logo">
          <img src="../static/images/IpCalculator.png" alt="Air Logo" width="80" height="80" style="border-radius: 20%;margin-top: -15px; ">
        </a>

        <nav class="nav">
          <ul class="footer-nav__list">
            <li class="footer-nav__item ">
              <a class="footer-nav__link" href="/" style="margin-left: 20px;">Home</a>
            </li>
            <li class="footer-nav__item ">
              <a class="footer-nav__link" href="#OWNERS">List of Owners</a>
            </li>
            <li class="footer-nav__item ">
              <a class="footer-nav__link" href="/Privacy_Policy">Privacy Policy</a>
            </li>
            <li class="footer-nav__item ">
              <a class="footer-nav__link" href="/Contacts_Us">Contacts us</a>
            </li>
          </ul>
        </nav>
      </div>

    </footer>
  </body>
</html>